body{background-image: url(https://raw.githubusercontent.com/putriylns/putriylns.github.io/master/1549993604953.jpg)}
h1{font-family: times new roman;color: lemonchiffon;border: dashed;background-color: lightcoral}
li{font-family: arial;color: yellow;background-color: pink}
p{font-family: calibry;color: maroon;background-color: bisque}
